.slide-bar{
  background-color: #141414;
  border-right: 1px solid rosybrown ;
  position: fixed;
  height: 100vh;
  flex-direction: column;
  z-index: 2;
}


@media screen and (max-width: 480px) {
  .slide-bar{
    background-color: #141414;
    border-bottom: 1px solid rosybrown ;
    display: flex;
    width: 100vw;
    height: 60px;
    flex-direction: row;
  }
}


.slide-bar-icon{
  width: 10px;
  height: 10px;;
}