
.portfolio-page-text-content {
  height: -webkit-fill-available;
  position: relative;
  align-self: center;
  padding: 10vw;
  align-content: center;
  padding-top: 10vh;
  color: #f1f1f1;
  background: #160D11;
}

.portfolio-page-container{
  height: 100vh;
  position: relative;
  width: 100vw;
}

.portfolio-page-header-text {
  color: 	#FFC0CB;
  font-size: 45px;
  padding-bottom: 50px;
}

.slide-item-content{
  flex-direction: row;
   display: flex;
   padding: 50px;
   /* background: rgba(255, 192, 203, 0.4); */
}

.portfolio-image{
  width: auto;
  height: 400px;
  padding: 30px;

}
.slide-text{
  padding-left: 35px;
}

@media screen and (max-width: 480px) {
  
.slide-item-content{
  flex-direction: column;
   display: flex;
   padding: 50px;
}
.portfolio-image{
  width: 90vw;
  height: auto;
  align-self: center;
  padding: 0px;
}

.slide-text{
  padding-left: 0px;
}

.portfolio-page-text-content {
  height: -webkit-fill-available;
  position: relative;
  align-self: center;
  padding: 0vw;
  align-content: center;
  padding-top: 10vh;
  color: #f1f1f1;
  background: #160D11;
}

.portfolio-page-header-text {
  color: 	#FFC0CB;
  font-size: 45px;
  padding-bottom: 50px;
  padding-left: 10vw;
}

.portfolio-page-container{
  height: 115vh;
  position: relative;
  width: 100vw;
}


}
.slide-content{}

/* 
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
  color: #160D11;
  background-color: brown;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
} */

.carousel-control-prev-icon {
  background-image: url("../../images/arrow-91-64.ico") !important;
 }
 
 .carousel-control-next-icon {
  background-image: url("../../images/arrow-27-64.ico") !important;
 }