
.portfolio-page-text-content {
  height: -webkit-fill-available;
  position: relative;
  align-self: center;
  padding: 10vw;
  align-content: center;
  padding-top: 10vh;
  color: #f1f1f1;
  background: #160D11;
}

.portfolio-page-container{
  height: 100vh;
  position: relative;
  width: 100vw;
}

.portfolio-page-header-text {
  color: 	#FFC0CB;
  font-size: 45px;
  padding-bottom: 50px;
}

.slide-item-content{
  flex-direction: row;
   display: flex;
   padding: 50px;
   /* background: rgba(255, 192, 203, 0.4); */
}

.portfolio-image{
  width: auto;
  height: 400px;
  padding: 30px;

}
.slide-text{
  padding-left: 35px;
}
.git{
  color: #FFC0CB;
}

@media screen and (max-width: 480px) {
  
.slide-item-content{
  flex-direction: column;
   display: flex;
   padding: 50px;
}
.portfolio-image{
  width: 90vw;
  height: auto;
  align-self: center;
  padding: 0px;
}

.slide-text{
  padding-left: 0px;
}

.portfolio-page-text-content {
  height: -webkit-fill-available;
  position: relative;
  align-self: center;
  padding: 0vw;
  align-content: center;
  padding-top: 10vh;
  color: #f1f1f1;
  background: #160D11;
}

.portfolio-page-header-text {
  color: 	#FFC0CB;
  font-size: 45px;
  padding-bottom: 50px;
  padding-left: 10vw;
}

.portfolio-page-container{
  height: max-content;
  position: relative;
  width: 100vw;
}

.carousel-control-prev-icon {
  padding-top: 20px;
  align-self: flex-start;
  background-image: url("../../images/arrow-91-64.ico") !important;
 }
 
 .carousel-control-next-icon {
  padding-top: 20px;
  align-self: flex-start;
  background-image: url("../../images/arrow-27-64.ico") !important;
 }

}
.slide-content{}

.carousel-control-prev-icon {
  background-image: url("../../images/arrow-91-64.ico") !important;
 }
 
 .carousel-control-next-icon {
  background-image: url("../../images/arrow-27-64.ico") !important;
 }