.home-page-container{
  height: 100vm;
  overflow: hidden;

}
.home-page-video{
  min-width: 100vw;
  min-height: 100vh; 
  overflow: hidden;
  position: fixed;
}
home-page-container::-webkit-scrollbar {
  display: none;
}