
.about-page-container{
  height: 100vh;
  position: relative;
  width: 100vw;
}
.about-page-video{
  max-width: 100vw;
  min-height: 100vh; 
  overflow: hidden;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}


@media screen and (max-width: 480px) {
  .about-page-video {
  min-width: 100vw;
  min-height: 100vh; 
  overflow: hidden;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  }
}


.about-page-text-content {
  height: -webkit-fill-available;
  position: relative;
  align-self: center;
  padding: 15vw;
  align-content: center;
  padding-top: 20vh;
  color: #f1f1f1;
  background: rgba(0, 0, 0, 0.5);
}