
.about-page-container{
  height: 100vh;
  position: relative;
  width: 100vw;
}
.timeline-content{
  flex-direction: row;
   display: flex;
   padding-top: 40px
}
.me-photo{
  width: 400px;
  height: 400px;
}
.padding-timeline{
  padding-left: 200px;
}

.about-page-text-content {
  height: -webkit-fill-available;
  position: relative;
  align-self: center;
  padding: 10vw;
  align-content: center;
  padding-top: 10vh;
  color: #f1f1f1;
  background: #141414;
}


.about-page-header-text {
  color: 	#FFC0CB;
  font-size: 45px;
}
.about-page-content-text{
  font-size: 20px;
  font-weight: 400;
}
#slide3 {
  position: relative;
  bottom: -10vw;
  -webkit-animation: slide3 3s forwards;
  animation: slide3 1.5s forwards;
   opacity: 0.0;
  /* animation: fadeIn ease 3s; */
}

@-webkit-keyframes slide3 {
  100% {
    bottom: 0vw;
    opacity:1;
   }
}

@keyframes slide3{
  100% {
    bottom: 0vw;
    opacity:1;
   }
}

.timeline {
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #FFC0CB 0%, #FFC0CB 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 35px;
  position: relative;
}
.timeline::before{
    position: absolute;
    height: 1.25em;
    width: 1.25em;
    line-height: 1.25em;
}
#jct-icon::before{
    background-image: url('../../images/jct-logo.png');
    background-size: 32px 32px;
    width: 32px; 
    height: 32px;
    content:"";
}

#upstream-icon::before{
  background-image: url('../../images/upstream-logo.png');
  background-size: 32px 32px;
  width: 32px; 
  height: 32px;
  content:"";}

#ceva-icon::before{
  background-image: url('../../images/ceva-logo.jpg');
  background-size: 32px 32px;
  width: 32px; 
  height: 32px;
  content:"";
}

#microsoft-icon::before{
  background-image: url('../../images/Microsoft_box.png');
  background-size: 32px 32px;
  width: 32px; 
  height: 32px;
  content:"";
}

.timeline:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
}
.timeline:nth-child(odd)::before{
    left: 100%; 
    margin-left: -14px;
}
.timeline:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
}
.timeline:nth-child(even)::before{
  right: 100%; 
  margin-right: -14px;
}
.timeline:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}
.timeline:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}

@media screen and (max-width: 480px) {
  .timeline-content{
    flex-direction: column;
     display: flex;
     padding-top: 40px
  }
  .me-photo{
    width: 80vw;
    height: 80vw;
  }
  
.about-page-container{
  height: max-content;
  position: relative;
  width: 100vw;
}
.padding-timeline{
  padding-left: 0px;
  padding-top: 50px;
}

}
